MONGO_URI=
MONGO_DB=TeaTalks
JWT_SECRET=

# One-time admin bootstrap
ADMIN_EMAIL=
ADMIN_PASSWORD=
# If password contains # or spaces, wrap in quotes. Example: "teatalks#321"
ADMIN_CAMPUS_NAME=TeaTalks Admin

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=teatalks/posts
